{{ define "main" }}

<main>
    <section class="section" aria-labelledby="list-title">
        <div class="container is-max-widescreen">
            <div class="block">
                <h1 class="title is-1" id="list-title">{{ .Title }}</h1>
                <p class="content is-large">{{ .Description }}</p>
                <p class="content">{{ .Content }}</p>
            </div>
            <div class="block">
                {{ range .Pages }}
                    {{ partial "single-card.html" . }}
                {{ end }}
            </div>
        </div>
    </section>
</main>

{{ end }}