{{ define "main" }}

<main>    
    <section class="section">
        <div class="container is-max-widescreen">
            <article class="content">
                <header>
                    <h1 class="title">{{ .Title }}</h1>
                </header>
                {{ .Content }}
                <footer class="block">
                    <p class="has-text-weight-bold">Tags:</p>
                        {{ range (.GetTerms "tags") }}
                            <span class="tag">{{ .LinkTitle }}</span>
                        {{ end }}
                </footer>
            </article>
        </div>
    </section>
</main>

{{ end }}