{{ define "main" }}

<main class="container">
    <section class="section">
        <nav class="breadcrumb is-medium" aria-label="breadcrumbs">
            <ul>
                <li>This</li>
                <li>is</li>
                <li>a</li>
                <li>fake</li>
                <li>breadcrumb</li>
            </ul>
        </nav>
    </section>
    
    <section class="section">
        <h1 class="title">{{ .Title }}</h1>
        <article class="content">
            {{ .Content }}
        </article>
    </section>
</main>

{{ end }}