<footer class="footer">
    <div class="content has-text-centered">
        <a href="https://www.linkedin.com/in/magnus-therkelsen/">
            <span class="icon is-large has-text-grey"><i class="fab fa-2x fa-linkedin"></i></span>
        </a>
        <a href="https://github.com/macnetic/">
            <span class="icon is-large has-text-grey"><i class="fab fa-2x fa-github"></i></span>
        </a>
        <a href="https://www.instagram.com/magnus_therkelsen/">
            <span class="icon is-large has-text-grey"><i class="fab fa-2x fa-instagram"></i></i></span>
        </a>
        <br>
        <p>&copy; 2021 Magnus Oksbøl Therkelsen</p>
    </div>
</footer>