<footer class="footer">
    <div class="content has-text-centered">
        <a title="Linkedin profile" href="https://www.linkedin.com/in/magnus-therkelsen/" rel="noreferrer" target="_blank">
            <span class="icon is-large has-text-grey"><i class="fab fa-2x fa-linkedin"></i></span>
        </a>
        <a title="Github profile" href="https://github.com/macnetic/" rel="noreferrer" target="_blank">
            <span class="icon is-large has-text-grey"><i class="fab fa-2x fa-github"></i></span>
        </a>
        <a title="Instagram profile" href="https://www.instagram.com/magnus_therkelsen/" rel="noreferrer" target="_blank">
            <span class="icon is-large has-text-grey"><i class="fab fa-2x fa-instagram"></i></i></span>
        </a>
        <br>
        <p>&copy; 2021 Magnus Oksbøl Therkelsen</p>
    </div>
</footer>