<article class="block">
    <a href="{{ .Permalink }}">
        <div class="card">
            <div class="card-content">
                <div class="columns">
                    <div class="column is-2">
                        <figure class="image is-4by3">
                            <img src="https://via.placeholder.com/200x160.webp" width="200px" height="160px">
                        </figure>
                    </div>
                    <div class="column">
                        <h3 class="title is-5">{{ .Title }}</h3>
                        <h4 class="subtitle is-6">
                            <span class="icon-text">
                                <span class="icon">
                                    <i class="far fa-clock"></i>
                                </span>
                                Published {{ .PublishDate.Format "January 2, 2006" }}
                            </span>
                        </h4>
                        <p>{{ .Summary }}</p>
                    </div>
                </div>
            </div>
            <div class="card-footer">

            </div>
        </div>
    </a>
</article>